// ******************************
//         VARIABLES
// ******************************

// Text colors
$text-color-primary: #000;
$text-color-second: #202020;
$text-color-special: #f53838;

// Icons colors
$check-icon-color: #2fab73;
$star-icon-color: #fea250;
$brand-icon-color: #f53838;
$about-icon-bg-color: #f8d3d5;
