// ******************************************
//       MAIN CONTENT - ANOUT SECTION
// ******************************************

.about-section {
  width: 80%;
  max-width: 350px;
  margin-bottom: 75px;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(136, 136, 136, 0.4);

  @media screen and (min-width: 768px) {
    width: 90%;
    max-width: 800px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1200px;
  }
  // -------- Flex container ----------
  .flex-container {
    @include flexbox($flow: column nowrap);
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-flow: row nowrap;
    }
    @media screen and (min-width: 1024px) {
      justify-content: space-evenly;
    }
  }
  // ------- Content ---------
  &__content {
    @include flexbox($flow: row nowrap, $justify: space-between);
    height: 150px;
    width: 200px;
    margin-bottom: 25px;
    border-bottom: 2px solid #eee;

    @media screen and (min-width: 768px) {
      margin: 25px;
      border-bottom: none;
      border-right: 2px solid #eee;
    }
  }
  &__content:last-of-type {
    border-bottom: none;

    @media screen and (min-width: 768px) {
      border-right: none;
    }
  }
  .fas {
    font-size: 2rem;
    padding: 20px;
    border-radius: 50%;
    color: $brand-icon-color;
    background-color: $about-icon-bg-color;
  }
  // ------- Content - Info wrapper ---------
  &__info-wrapper {
    margin: auto;
  }
  &__info:nth-child(odd) {
    font-weight: 700;
  }
  &__info:nth-child(even) {
    margin-top: 10px;
    color: $text-color-second;
  }
}
