// ******************************************
//       MAIN CONTENT - FEATURES SECTION
// ******************************************

.features-section {
  @include flexbox($flow: column nowrap);
  width: 80%;

  @media screen and (min-width: 375px) {
    max-width: 510px;
  }
  @media screen and (min-width: 768px) {
    margin: 125px auto;
    max-width: 800px;
    width: 90%;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1200px;
  }
  // ------ Illustration -------
  &__illustration {
    width: 100%;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      width: 55%;
    }
  }

  // ------ Content  --------
  &__content-wrapper {
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 40%;
      text-align: left;
    }
  }
  // ------ Content - title --------
  &__title {
    font-size: 3rem;
    font-weight: 500;

    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }
  }
  // ------ Content - Description --------
  &__description {
    color: $text-color-second;
    margin: 20px 0px;
    font-size: 1.6rem;
    line-height: 25px;

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      line-height: 35px;
    }
  }

  // ------ Feature list  --------
  &__feature-list {
    list-style-type: none;
    text-align: left;
    color: $text-color-second;
  }
  // ------ Feature item -------
  &__feature-item {
    font-size: 1.6rem;
    line-height: 50px;

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      line-height: 75px;
    }
  }
  .fas {
    margin-right: 10px;
    color: $check-icon-color;
  }
}
