// ******************************************
//       MAIN CONTENT - GLOBAL NETWORK SECTION
// ******************************************

.global-section {
  @include flexbox($flow: column nowrap);
  width: 90%;
  text-align: center;
  margin: 50px auto 75px;

  // ----- Title --------
  &__title {
    font-size: 3rem;
    font-weight: 500;

    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }
  }
  // ----- Description ---------
  &__description {
    width: 70%;
    margin: 30px 0px 50px;
    font-size: 1.6rem;
    line-height: 25px;
    color: $text-color-second;
    span {
      font-weight: 700;
    }

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      max-width: 600px;
    }
  }
  // ----- Illustration --------
  &__illustration {
    width: 100%;
    max-width: 1350px;
  }
}
