// **********************************
//         MAIN HEADER - CONTENT
// **********************************

.main-header__content {
  grid-area: content;
  @include flexbox;
  text-align: center;

  @media screen and (min-width: 768px) {
    justify-content: start;
    text-align: left;
  }

  // ---------- Title -----------
  &-title {
    font-size: 3.4rem;
    margin: 25px auto 30px;

    @media screen and (min-width: 1024px) {
      font-size: 5rem;
      max-width: 600px;
      margin: 27px 0px;
    }
  }

  // ---------- Description ----------
  &-description {
    color: $text-color-second;
    font-size: 1.6rem;
    span {
      font-weight: 500;
    }

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
      line-height: 35px;
      max-width: 500px;
    }
  }

  // ---------- CTA ----------
  &-cta {
    @include standard-btn;
    margin: 35px auto 50px;
    transition: all 0.5s;

    @media screen and (min-width: 768px) {
      margin: 35px 0 50px;
      text-align: center;
    }

    @media screen and (min-width: 1024px) {
      font-size: 2rem;
    }
    
    &:hover {
      background-color: lighten($text-color-special, 10%);
    }
    &:active {
      background-color: darken($text-color-special, 10%);
      transform: scale(0.95);
    }
  }
}
