// ************************************
//          MAIN HEADER
// ************************************

.main-header {
  width: 90%;
  margin: 30px auto 100px;
  display: grid;
  padding-top: 9rem;
  grid-template-areas:
    "."
    "content"
    "illustration";

  @media screen and (min-width: 375px) {
    max-width: 550px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 10rem;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1200px;
    column-gap: 10px;
    padding-top: 8rem;
  }
}
