// ******************************************
//       MAIN CONTENT - SPONSORS SECTION
// ******************************************

.sponsors-section {
  @include flexbox($flow: column nowrap);
  width: 70%;
  margin: 50px auto 75px;

  @media screen and (min-width: 375px) {
    max-width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 90%;
    max-width: 800px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1200px;
  }

  // --------- Logo ----------
  &__logo {
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: 200px;
      margin-right: 15px;
    }
  }
}
